<a href="https://colab.research.google.com/github/karmagurung00/Data_Analytics/blob/main/Track1/Python/Practice_Exercise_for_Review011221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list

In [ ]:
lists_1=[11,33,50,50,14]
a=lists_1[0]+lists_1[1]+lists_1[2]+lists_1[3]+lists_1[4]
print(a)

158

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([11,33,50,50,14]))

158

In [ ]:
list_3=['1','2','3','4']
for x in range(0,len(list_3)):

2. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
* Sample List : ['abc', 'xyz', 'aba', '1221']

In [ ]:
lists_2=['abc', 'xyz', 'aba', '1221']
def match_words(words):
  a = 0

  for word in words:
    if len(word) > 2 and word[0] == word[-1]:
      a += 1
  return a

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

3. Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
a=['Adam','11258','Brooklyn']
b=['Adam','11214','Queens']
if a[0]==b[0]:
  print(True)
elif a[1]==b[1]:
  print(True)
elif a[2]==b[2]:
  print(True)
else:
  print(False)

True

4. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
* Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [ ]:
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(a)

del a[0]
del a[2]
del a[2]
print(a)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Yellow']

5. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
norm=[10,12,1,13,9,19]
for x in norm:
  if (x % 2)==1:
    print(x,end=' ')

1 13 9 19

6. Write a Python program to convert a list of characters into a string.

In [ ]:
apple=['Newyork',1,'California',2]
a=str(apple)
type(a)

str

8. Write a Python program to count the number of elements in a list within a specified range.

In [ ]:
apple=['Mango','Pineapple','Strawberry','Lemon','Watermelon']
print(len(apple[0:3]))
print(len(apple[1:5]))

3
4

9. Write a Python program to convert a list of multiple integers into a single 





integer
*  Sample list: [11, 33, 50]

In [ ]:
lists=[11,33,50]
for n in lists:
  print(n,end='')

113350

10.Write a Python program to print a nested lists (each list on a new line) using the print() function.

*  colors = [['Red'], ['Green'], ['Black']]

In [ ]:
colors=[['Red'],['Green'],['Black']]
for a in colors:
  print(a)

['Red']
['Green']
['Black']





11. Write a Python script to concatenate following dictionaries to create a new one using a loop

* dic1={1:10, 2:20}
* dic2={3:30, 4:40}
* dic3={5:50,6:60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
dic4={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def key_exists(x):
  if x in dic4:
    print('The given key already exists in the dictionary.')
  else:
    print('The given key does not exists in the dictionary.')
  
key_exists(15)

The given key does not exists in the dictionary.

13  Write a Python program to check the validity of password input by users. Go to the editor
Validation :
*  At least 1 character from [$#@].
*  Minimum length 6 characters.

In [ ]:
def validate(x):
  special=['$','#','@']
  while True:
        password = input("Enter a password: ")
        if len(password) < 6:
            print("Make sure your password is at least 6 letters")
        else:
            print("Your password seems fine")

14. Write a Python program to reverse a string

In [ ]:
notes='There is a dog'[::-1]
print(notes)

god a si erehT

15. rite a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
* green-red-yellow-black-white

In [ ]:
n=input("Enter a hypen-separated sequence of words: ") 
l=n.split('-') 
l.sort() 
print('-'.join(l))

Enter a hypen-separated sequence of words: green-red-yellow-black-white
black-green-red-white-yellow