<a href="https://colab.research.google.com/github/karmagurung00/Data_Analytics/blob/main/Track1/Python/Python_Basics_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON EXERCISE FOR PRACTICE**

**1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum**

number1 = 20

number2 = 30

In [ ]:
number1 = 20
number2 = 30
x=number1*number2
y=number1+number2
if x>1000:
  print(y)
else:
  print(x)

600

**2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number.**

In [ ]:
previous_num = 0
for i in range(0,10):
    sum = previous_num + i
    print(sum)
    previous_num = i

0
1
3
5
7
9
11
13
15
17

**3: In the string "pynative", display only those characters which are present at an even index number.**

In [ ]:
a='pynative'
for i in range(0,len(a),2):
  print(i,a[i])

0 p
2 n
4 t
6 v

**4: In the string "pynative" remove characters from zero up to 5 and return a new string**

In [ ]:
a='pynative'
print(a.replace('pyna',' '))

 tive

**5: Reverse numbers 121 and 125 and return true if it is the same as the original number.**

In [ ]:
a='121'
reversed=int(str(a)[::-1])
print(reversed)
if reversed==121:
  print(True)
b='125'
reversed=int(str(b)[::-1])
print(reversed)
if reversed==125:
  print(True)
else:
  print(False)

121
True
521
False

**6: Given two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.**

1.  List 1  [10, 20, 23, 11, 17]
2.  List 2  [13, 43, 24, 36, 12]

TypeError: ignored

**7: Write a code to extract each digit from the integer 7536  in the reverse order**

In [ ]:
n = '7536'
reversed = int(str(n)[::-1])
print(reversed)

6357

**8. What is the output of the following code?**

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

1.   The program executed with errors  **(THE ANSWERS IS THIS)**
1.   [‘Jon’, ‘Kelly’, ‘Scott’, ‘Jessa’]
2.   [‘Jon’, ‘Kelly’, ‘Jessa’, ‘Scott’]
2.   [‘Jon’, ‘Scott’, ‘Kelly’, ‘Jessa’]

***9. What is the output of the following code?***

In [ ]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)


1. 10
   15
2. 25 
   125  ***(THE ANSWER IS THIS)***
1.Error: invalid syntax

**10. Display the following data using string.format() method and as a message**
* totalMoney = 1000
* quantity =3
* price = 450

In [ ]:
#CANNOT UNDERSTAND THE CODE EVEN WHEN COPIED FROM THE INTERNET
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

**11: Print First 10 natural numbers using while loop**

In [ ]:
natural_num = 1
while natural_num < 11:
    print(natural_num)
    natural_num= natural_num + 1

1
2
3
4
5
6
7
8
9
10

**12.  Reverse the following list using for loop**

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

50
40
30
20
10

**13: Display a message “Done” after successful execution of for loop**

In [ ]:
rand=['1']
for n in rand:
  if n=='1':
    print('Done')
  else:
    print('NA')

Done

**14. Use a loop to display elements from the given list (my_list) which are present at even positions**
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# [1::2] means every second element is to be printed after the L1
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

**15. Create a list of your favourite 5 fruits. Then**

Add 2 new fruits to the list
What's the length of your list now?
Remove any one fruit from the list
What's the new length of the list now?
Could you sort the list?

In [ ]:
fruits= ['Strawberry','Blueberry','Orange','Banana','Apricot']
fruits.append('Apple')
print(fruits)
fruits.append('Mango')
print(fruits)
print(len(fruits))

['Strawberry', 'Blueberry', 'Orange', 'Banana', 'Apricot', 'Apple']
['Strawberry', 'Blueberry', 'Orange', 'Banana', 'Apricot', 'Apple', 'Mango']
7